// Dark theme
$backgroundDark: #101C35;
$sidebarDark: #1B3059;
$textDark: #fff;

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #F5F7F9;
$textBright: #1B3059;

// Brand
$brandPrimary: #EC57DE;
